<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Volk. It uses data from mapbox.com and weatherstack.com </p>
      <img class="portrait" src="/img/pic1.jpeg" />
    </div>
    {{>footer}}
  </body>
</html>